<html>
<head>
	<title>Login Page</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</head>
<body>
	<div>
		<span	class="g-signin"
				data-scope="openid email"
				data-clientid="797317193162-ce3r327kge310ulntogujbuma49cs015.apps.googleusercontent.com"
				data-redirecturi="postmessage"
				data-accesstype="offline"
				data-cookiepolicy="single_host_origin"
				data-callback="signInCallback"
				data-approvalprompt="force">
		</span>
	</div>
	<div id="result"></div>
</body>
</html>